* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0em;
    padding: 0em;
    scroll-behavior: smooth;
}

img {
    max-width: 100%; /* Pictures won't stretch larger than their natural size */
}

nav {
    width: 100%;
    overflow: auto;
    background-color: #009DC6;
    z-index: 20;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
}

nav > a {
    font-size: 20px;
    margin: 5px;
    padding: 20px;
    display: inline-block;
}

nav ul {
    float: right;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 0; /* Remove space between li */
}

nav li {
    display: inline-block;
    font-size: 18px;
    padding: 20px;
}

nav a, nav li {
    color: whitesmoke;
}

nav > a, nav li a:link, nav li a:visited {
    text-decoration: none;
}

nav li a:hover, nav li a:active {
    text-decoration: underline;
}

main {
    width: min(1232px, 100%);
    margin-left: auto;
    margin-right: auto;
    padding: 16px 16px;
}